Tibor Bödecs <mail.tib@gmail.com> Tibor Bodecs <mail.tib@gmail.com>
László Kovács <atomantinator@gmail.com> mzpx <atomantinator@gmail.com>
Ferenc Viasz-Kádi <ferenc@binarybirds.com> Ferenc Viasz-Kadi <viaszkadi@users.noreply.github.com>
Gábor Lengyel <gurrka@gmail.com> Gabor Lengyel <gurrka@gmail.com>
atacan <atacandur@icloud.com> atacan <atacan@tutanota.com>
